<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'css/stud_or_teacher.css')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <p>Select your best description</p>
          <div class="buttons">
            <a href="#"><button class="confirm" type="button">Student</button></a>
            <a href="#"><button class="cancel" type="button">Teacher</button></a>
        </div>
    </div>
</body>
</html>
